*.js
!jest.config.js
*.d.ts
!src/environment.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

spike

# Yarn v4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/.yarn/install-state.gz
